*{
    padding: 0;
    margin: 0;
    color: aliceblue;
    box-sizing: content-box;
    
}


.titulo{
    margin: 1.5rem;
    font-size: 25px;
}
.awnser-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.awnser-box input{
    margin: 0.5rem;
    height: 1.5rem;
    width: 80%;
    max-width: 10rem;
    border-radius: 0.3rem;
    text-align: center;
}
.main-box{
    min-width: 100vw;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(100, 83, 83);
}
.major-box{
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(12, 176, 197);
    border-radius: 1rem;
    
}
.content-box{
    font-size: 20px;
}

.content-box section{
    margin: 1.0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.input-box{
    display: flex;
    flex-direction: row;
}

.input-box input{
    margin: 0.5rem;
    height: 1.7rem;
    width: 90%;
    max-width: 10rem;
    border-radius: 0.3rem;
    text-align: center;
    font-size: 17px;
    color: #000;
}
.awnser-box input{
    margin: 0.5rem;
    height: 1.7rem;
    width: 90%;
    max-width: 10rem;
    border-radius: 0.3rem;
    text-align: center;
    font-size: 17px;
    color: #000;
}

.button-box{
    width: 100%;
    max-width: 20rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}

.button-box button{
    width: 60%;
    height: 90%;
    border-radius: 1rem;
    font-size: 16px;
    color: black;
}
